body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.markdown-table table {
  border-collapse: collapse;
  width: 100%;
}

.markdown-table th,
.markdown-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.markdown-table th {
  background-color: #f2f2f2;
}

.icon {
  width: 20px;
  height: 20px;
}

.titleSection {
  margin-top: 0vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.titleSection h1 {
  color: green;
}

.fullLLMContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30vw;
  margin-top: 3vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

/* system prompt area */

.systemPromptHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusts space between items */
  justify-items: bottom;
  margin-left: 10vw;
  margin-right: 10vw;
}
.systemPromptHeader h1 {
  text-align: left;
  /*
  margin-left: 10vw;
  margin-right: 10vw;
  */
}

.systemPromptInputSection {
  margin-top: 0vh;
  display: flex;
  align-items: center;
  /*
  margin-left: 10vw;
  margin-right: 10vw;
  */
}

.systemPromptInputSection textarea {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80%; /* Full width */
  height: auto; /* Auto-height based on content */
  min-height: 50px; /* Minimum height */
  overflow-y: auto; /* Scrollable */
  margin-bottom: 1rem; /* Space before the next section */
  padding: 10px; /* Padding inside the textarea */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
}

.toggleSystemPromptSection {
  display: block;
  justify-content: left;
}

/* user prompt area */

.userPromptHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusts space between items */
  justify-items: bottom;
  margin-left: 10vw;
  margin-right: 10vw;
}
.userPromptHeader h1 {
  text-align: left;
  /*
  margin-left: 10vw;
  margin-right: 10vw;
  */
}

.userPromptInputSection {
  margin-top: 0vh;
  display: flex;
  align-items: center;
  /*
  margin-left: 10vw;
  margin-right: 10vw;
  */
}

.userPromptInputSection textarea {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80%; /* Full width */
  height: auto; /* Auto-height based on content */
  min-height: 150px; /* Minimum height */
  overflow-y: auto; /* Scrollable */
  margin-bottom: 1rem; /* Space before the next section */
  padding: 10px; /* Padding inside the textarea */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
}

.toggleSystemPromptSection button {
  margin-top: 3vh;
  margin-bottom: 5px;
}

.toggleUserPromptSection {
  display: block;
  justify-content: left;
}
.toggleUserPromptSection button {
  margin-top: 3vh;
  margin-bottom: 5px;
}

/* generate..., clear... and stop ... buttons */
.buttonSection {
  margin-bottom: 1rem;
}

.buttonSection button {
  margin-right: 5px; /* Add space to the right of each button */
}

.modelTitle {
  font-size: 25px;
  font-weight: 700;
  margin-top: 3vh;
  margin-bottom: 10px;
}

.selectModelProvider {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 10px;
}

.apiKey {
  display: flex;
  align-items: center;
}

.apiKeyInput {
  width: 60%;
}

.selectModel {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 10px;
}

.whitespace-pre-line {
  text-align: left;
}

/* model specks area */
.modelSpecs {
  width: 30vw;
}

.modelSpecs th {
  border-top: 1px solid black;
  border-bottom: 1px solid darkgray;
}

.modelSpecs td {
  justify-content: left;
}

/* text completeion area - output/response from LLM */

.textCompletionContainer {
  /* margin-top: 2vh; */
  position: relative;
  width: 30vw;
  max-height: 60vh;
  border-top: 1px solid black;
  overflow-y: auto; /* Keeps content scrollable */
  align-self: center;
  display: flex;
  flex-direction: column;
}

.separator {
  width: 100%; /* Full width line */
  border: none;
  border-top: 1px solid grey;
  margin: 10px 0; /* Add some space around the line */
}

.textCompletionRow {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50vh;
}

/* Styling the scrollbar - this is optional and might not work in all browsers */
.textCompletionContainer::-webkit-scrollbar {
  width: 10px;
}
.textCompletionContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
